<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>CreatorHub</string>
	<key>CFBundleIdentifier</key>
	<string>com.drip.CreatorHub</string>
	<key>CFBundleName</key>
	<string>CreatorHub</string>
	<key>CFBundleDisplayName</key>
	<string>Creator Hub</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Need microphone access for Speech to Text conversion.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Need screen capture access for taking screenshots and extracting text.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Need speech recognition access to transcribe your audio.</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>多媒体极速处理 (Creator Hub)</string>
			</dict>
			<key>NSMessage</key>
			<string>handleServicesMessage</string>
			<key>NSPortName</key>
			<string>CreatorHub</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSSendTypes</key>
			<array>
				<string>public.image</string>
				<string>public.movie</string>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
